:root {
    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-md: 1.25rem;
    --font-size-sm: 1rem;
    --color-white: white;
    --color-gray: #80808087;
    --color-black: #000;
    --color-blue: #46a0f3;
}

@media (min-width: 1024px){
    :root {
        --font-size-h1: 3.5rem;
    }
}

.wrapperContent{
    display: flex;
    height: 100vh;
}

html{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-gray);
}