:root {
    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-md: 1.25rem;
    --font-size-sm: 1rem;
    --color-white: #EBEFF2;
    --color-tertiary: #D2D4D9;
    --color-secundary: #AFAFAF;
    --color-primary: #1D2527;
}

@media (min-width: 1024px){
    :root {
        --font-size-h1: 3.5rem;
    }
}

.wrapperContent{
    display: flex;
    height: 100vh;
}

html{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-white);
}